.ubb-editor {
    background-color: white;
    border: 1px solid rgb(204,204,204);
    position: relative;

    .editor-buttons {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(204,204,204);
    }

    p, label, select, input, textarea, button {
        border: none;

        &:focus {
            outline: none;
        }

        &::before {
            font-family: FontAwesome;
        }
    }

    label, button {
        transition-duration: .5s;
        font-size: 0.88rem;
        background-color: white;
        padding: 0;
        border: none;
        cursor: pointer;
        margin: 0 1rem;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ubb-color-picker {
        opacity: 0;
        width: 2rem;
        height: 2rem;
        margin: 0 1rem;
        padding-bottom: 0;
        padding-top: 0;
    }

    .editor-buttons-extends, .editor-buttons-styles, .editor-buttons-selects {
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: .5s;
    }

    .editor-buttons-extends {
        margin-left: -1.2rem;
    }

    .editor-buttons-selects {
        padding-left: 1rem;

        p {
            margin: 0;
            margin-right: -2.5rem;
            font-size: 0.88rem;
            z-index: 1;
            pointer-events: none;
        }

        select {
            width: 2rem;
            margin: 0 1.2rem;
            text-align-last: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            opacity: 0;
        }

        select::-ms-expand {
            display: none;
        }
    }

    .ubb-extend {
        display: flex;
        align-items: center;
        transition-duration: .5s;
        overflow: hidden;
        border-bottom: 1px solid rgb(204,204,204);
        height: 2rem;
        padding: 0 1rem;

        p {
            margin: 0;
            font-size: 0.88rem;
        }

        input {
            height: 2rem;
            width: 35rem;
        }
    }

    .ubb-content {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        textarea {
            transition-duration: .5s;
            border: none;
            width: 100%;
            padding: 0;
            height: 34.5rem;
            resize: none;
            font-size: 1rem;
        }

        .ubb-editor-preview {
            overflow-y: scroll;
            overflow-x: scroll;
            user-select: none;
            height: 34.5rem;
        }

        article {
            word-wrap: break-word;
            pointer-events: none;
        }
    }

    .ubb-emoji {
        position: absolute;
        top: 2rem;
        width: 50%;
        transition-duration: .4s;
        left: 22rem;
        background-color: white;
        border: 0px solid #ccc;
        overflow: hidden;
    }

    .ubb-emoji-content {
        border-top: 1px solid #ccc;
        overflow-y: scroll;
        max-height: 20rem;

        img {
            margin: 0.5rem;
            cursor: pointer;
        }
    }

    .ubb-emoji-buttons {
        display: flex;
        flex-direction: row;
        height: 2rem;
    }

    .ubb-emoji-button {
        flex-grow: 1;
        margin: 0;
        height: 2rem;
    }

    .ubb-emoji-button-active {
        flex-grow: 2;
        margin: 0;
        background-color: #ccc;
    }

    .ubb-emoji-content-ac img {
        width: 4.6875rem;
        height: 4.0625rem;
    }

    .ubb-emoji-content-mj img {
        height: 2rem;
        width: 2rem;
    }

    .ubb-emoji-content-tb {
        height: 20rem;

        img {
            margin: 0.6rem;
        }
    }

    .ubb-emoji-info {
        color: grey; 
        font-size: 0.75rem; 
        text-align: center;

        a {
            color: blue;
            text-decoration: underline;
        }
    }

    .ubb-editor-info {
        display: flex;
        position: absolute;
        background: #8dc9db;
        z-index: 2;
        transition-duration: .5s;
        pointer-events: none;
        left: 25%;
        margin-top: 2rem;
        border-radius: .5rem;
        align-items: center;
        height: 2.5rem;
        color: white;

        p {
            margin: 0 2rem;
        }
    }
}
