$theme_color_main: rgb(171,195,73);
$theme_color_sub: rgb(65,137,161);
$theme_color_topbar: rgba(171,195,73,0.8);
$background_image: url(/static/images/header-image/spring_2023.jpg);
$background_color_page: rgb(55, 64, 82);
$background_color_textarea: #bbbbbb;
$font_color_text: #000000;

@import '../Styles/Site.scss';