$theme_color_main: rgb(205,85,85);
$theme_color_sub: rgb(225,130,10);
$theme_color_topbar: rgba(205,85,85,0.8);
$background_image: url(/static/images/header-image/spring_festival_light.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';