$theme_color_main: rgb(125, 85, 119);
$theme_color_sub: rgb(124, 98, 163);
$theme_color_topbar: rgba(125, 85, 119, 0.8);
$background_image: url(/static/images/header-image/winter_2022_dark.jpg);
$background_color_page: rgb(30, 30, 30);
$background_color_textarea: #bbbbbb;
$font_color_text: #000000;

@import '../Styles/Site.scss';