<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 限制请求内容体积上限 -->
				<requestLimits maxAllowedContentLength="30,000,000" />
			</requestFiltering>
		</security>
		<rewrite>
			<rules>
				<rule name="Redirect to index.html" stopProcessing="true">
					<conditions>
						<add matchType="IsFile" negate="true"/>
						<add matchType="IsDirectory" negate="true"/>
					</conditions>
					<match url=".*"/>
					<action type="Rewrite" url="/index.html" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>

