$theme_color_main: rgb(235, 142, 85);
$theme_color_sub: rgb(131, 186, 204);
$theme_color_topbar: rgba(225, 151, 90, 0.8);
$background_image: url(/static/images/header-image/autumn_new.jpg);
$background_color_page: #e6e7ec;
$background_color_textarea: #ffffff;
$font_color_text: #000000;

@import '../Styles/Site.scss';