$theme_color_main: rgb(53, 120, 188);
$theme_color_sub: rgb(177,87,82);
$theme_color_topbar: rgba(53, 120, 188, 0.8);
$background_image: url(/static/images/dragon_boat_festival.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';