$theme_color_main: rgb(122, 146, 194);
$theme_color_sub: rgb(196,107,181);
$theme_color_topbar: rgba(122, 146, 194, 0.8);
$background_image: url(/static/images/light_snow.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';