$theme_color_main: rgb(3, 57, 117);
$theme_color_sub: rgb(196,107,181);
$theme_color_topbar: rgba(3, 57, 117, 0.8);
$background_image: url(/static/images/light_snow.jpg);
$background_color_page:rgb(30, 30, 30);
$background_color_textarea:#bbbbbb;
$font_color_text:#000000;

@import '../Styles/Site.scss';