$theme_color_main: rgb(38, 118, 129);
$theme_color_sub: rgb(164, 91, 134);
$theme_color_topbar: rgba(38, 118, 129, 0.8);
$background_image: url(/static/images/mid_autumn.jpg);
$background_color_page:rgb(30, 30, 30);
$background_color_textarea:#bbbbbb;
$font_color_text:#000000;

@import '../Styles/Site.scss';