$theme_color_main: rgb(70, 141, 57);
$theme_color_sub: rgb(41, 117, 138);
$theme_color_topbar: rgba(70, 141, 57, 0.8);
$background_image: url(/static/images/qingming.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';