$theme_color_main: rgb(205,0,0);
$theme_color_sub: rgb(240,150,0);
$theme_color_topbar: rgba(205,0,0, 0.8);
$background_image: url(/static/images/spring_festival_dark.jpg);
$background_color_page:rgb(30, 30, 30);
$background_color_textarea:#bbbbbb;
$font_color_text:#000000;

@import '../Styles/Site.scss';