$theme_color_main: rgb(240,40,40);
$theme_color_sub: rgb(255,160,10);
$theme_color_topbar: rgba(240,40,40, 0.8);
$background_image: url(/static/images/spring_festival_light.png);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';