@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.user-center {
    button, ul, li {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    button, label {
        cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.88rem;
    font-family: 微软雅黑;
    width: 100%;
    min-width: 1140px;

    a {
        color: black;

        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }
    }
}

.user-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
}

.user-center-head {
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 1.25rem;

    p {
        color: black;
        font-size: 1rem;
        margin: 0;
    }
}

.user-center-body {
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;

    *:focus {
        outline: none;
    }

    .user-center-navigation {
        height: 33rem;
        padding: 0 0.625rem;
        background-color: $background_color_textarea;
        border: 1px solid #e9e9e9;

        button {
            width: 6rem;
            position: fixed;
            bottom: 5%;
            right: 13%;
            height: 3rem;
            border-radius: 1rem;
            opacity: 0.5;
            display: none;
            z-index: 2;
            margin: 0;
            padding: 0.7rem;
            border: 0;
            font-size: 1.1rem;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 1;
            }

            &:focus {
                outline: none;
            }
        }

        .btn-show {
            animation-name: fadeIn;
            animation-duration: 1s;
            display: inherit;
        }

        .btn-disappare {
            display: inherit;
            animation-name: fadeOut;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
        }

        ul {
            list-style-type: none;
            padding: 0;

            hr {
                margin: 0;
                background-color: #fff;
                border-top: 1px dashed #e9e9e9;
                width: 11.125rem;
            }
        }

        .user-center-navigation-active {
            &, * {
                color: red;
            }
        }

        li {
            height: 3.5rem;
            display: flex;
            align-items: center;
            font-family: FontAwesome;

            a {
                display: inline-flex;
                align-items: center;
                padding-left: 0.65rem;

                p {
                    margin-left: 0.65rem;
                }
            }
        }
    }

    .user-center-router {
        width: 52.75rem;
        padding: 2rem;
        background-color: $background_color_textarea;
        border: 1px solid #e9e9e9;
        min-height: 40rem;

        .user-center-exact {
            display: flex;
            flex-wrap: wrap;

            .user-avatar {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .user-avatar-img {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 5rem;
                }

                .user-badge {
                    margin-top: 2rem;
                    width: 100%;
                    padding-left: 1rem;

                    p {
                        display: inline-flex;
                        width: 100%;
                        margin-bottom: 0;
                        margin-top: 0.5rem;
                    }

                    a {
                        color: rgb(53, 167, 255);
                        width: 60%;
                    }

                    span {
                        width: 40%;
                    }
                }
            }

            .user-profile {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                padding: 0 2rem;
                width: 18.75rem;

                & > * {
                    margin-bottom: 1rem;
                }

                #userId {
                    font-size: 1.125rem;
                    margin-top: 0.5rem;
                    display: flex;
                    align-items: center;
                    width: 100%;

                    & > p {
                        flex-grow: 1;
                        white-space: pre;
                    }
                }

                button {
                    transition-duration: .4s;
                    background-color: $theme_color_main;
                    color: #fff;
                    width: 5rem;
                    height: 2rem;
                    margin: 0;
                    border-radius: 3px;
                    margin-left: 2rem;
                    font-size: 16px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        opacity: 0.6;
                    }
                }

                #unfollow {
                    background-color: rgb(230,230,230);
                    color: rgb(160,160,160);

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        opacity: 0.6;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                #userIntroducion {
                    margin-left: 2rem;
                    font-size: 0.75rem;
                }

                .user-profile-info {
                    display: inline-flex;
                    width: 5rem;
                    color: black;
                }

                #userGenderAndBirthday {
                    display: flex;
                    flex-wrap: wrap;

                    p {
                        flex-grow: 1;
                        width: 50%;

                        &:after {
                            font-family: FontAwesome;
                        }
                    }

                    div {
                        width: 100%;
                        display: flex;
                    }
                }

                .user-description {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 36.25rem;
                    overflow-x: hidden;

                    & > p {
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    article {
                        width: 100%;
                        padding: 1rem;
                        font-size: 0.75rem;
                        text-indent: 2em;
                        white-space: pre;
                    }
                }
            }

            .user-activities {
                width: 100%;

                & > p {
                    font-size: 1.125rem;
                    margin-bottom: 2rem;
                }
            }
        }

        .user-activities-active {
            color: rgb(160,160,160);
            cursor: text;
        }

        .user-posts {
            margin-top: 1rem;

            div {
                margin: 0 0 2rem 0;
            }

            hr {
                background-color: #fff;
                border-top: 1px dashed #e9e9e9;
            }

            .user-post-info a {
                margin-right: 2rem;
            }

            .user-post-board {
                color: rgb(53,167,255);
            }

            .user-post-date {
                color: rgb(0,0,0);
            }

            .user-post-content {
                font-size: 0.88rem;
                display: flex;

                p {
                    flex-grow: 1;
                    margin: 0;
                }

                .fa-thumbs-o-up {
                    flex-grow: 0;
                    font-family: FontAwesome;
                    margin: 0 0.5rem;
                }

                .fa-thumbs-o-down {
                    flex-grow: 0;
                    font-family: FontAwesome;
                    margin: 0 0.5rem;
                }
            }
        }

        .user-center-myfans, .user-center-myfollowings {
            hr {
                margin-bottom: 1.875rem;
                background-color: #fff;
                border-top: 1px dashed #e9e9e9;
            }

            .user-center-myfollowings-exact {
                flex-grow: 1;
                min-height: 40rem;
            }

            .user-center-myfollowings-user {
                display: flex;
                align-items: center;
                margin-bottom: 1.875rem;

                p {
                    flex-grow: 1;
                    display: inline-flex;
                }

                img {
                    width: 3.75rem;
                    height: 3.75rem;
                    border-radius: 1.875rem;
                    margin-right: 1.25rem;
                }

                button {
                    transition-duration: .4s;
                    width: 4.375rem;
                    height: 1.625rem;
                    font-size: 0.75rem;
                    border-radius: 3px;
                    background-color: rgb(230,230,230);
                    color: rgb(160,160,160);
                    cursor: pointer;
                    margin-left: 1rem;
                    margin-right: 1rem;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        opacity: 0.6;
                    }
                }

                .user-follow, .user-message {
                    background-color: $theme_color_main;
                    color: #fff;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        opacity: 0.6;
                    }
                }

                .user-center-myfollowings-user-id {
                    margin-right: 1.25rem;
                    min-width: 7rem;
                }

                .user-center-myfollowings-user-posts {
                    margin: 0 0.88rem 0 0.75rem;
                    color: rgb(53,167,255);
                    min-width: 2rem;
                }

                .user-center-myfollowings-user-fans {
                    margin: 0 0.88rem 0 0.75rem;
                    color: rgb(255,54,54);
                }
            }
        }

        .user-center-myfans {
            display: flex;
            flex-direction: column;

            .user-center-myfans-exact {
                flex-grow: 1;
                min-height: 40rem;
            }
        }

        .user-center-config {
            h2 {
                font-size: 0.75rem;
                margin: 0 0 2rem 0;
            }

            button {
                background-color: rgb(240,240,240);

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }

            label {
                background-color: #f0f0f0;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }
        }

        hr {
            border-top: 1px dashed #ccc;
            margin: 1.875rem 0;
        }

        .user-center-config-avatar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;

            .config-submit-button {
                background-color: $theme_color_main;
                color: #fff;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }

            .user-center-config-avatar-preview {
                transition-duration: 1s;
                width: 100%;
                display: flex;
                flex-direction: row;
                opacity: 0;
                height: 0;

                hr {
                    position: relative;
                    top: -50px;
                    width: 100%;
                }
            }

            .imgdata {
                z-index: 3;
                position: absolute;
                width: 160px;
                height: 160px;
                border-radius: 80px;
                background-color: #FFFFFF;
                overflow: hidden;
            }

            #selector {
                z-index: 4;
                position: absolute;
                width: 160px;
                height: 160px;
                border-radius: 80px;
                background-color: #FFFFFF;
                overflow: hidden;
                opacity: 0;
                cursor: move;
            }

            #resize {
                z-index: 4;
                position: absolute;
                cursor: se-resize;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border-radius: 50px;
                opacity: 0.5;
            }

            #cover {
                z-index: 2;
                position: absolute;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0.7;
            }

            & > img {
                width: 160px;
                height: 160px;
                border-radius: 80px;
            }

            & > div {
                display: flex;
                flex-direction: column;

                & > button {
                    width: 100px;
                    height: 30px;
                    margin-left: 30px;
                    margin-bottom: 20px;
                }

                & > div {
                    display: flex;
                    align-items: center;

                    button {
                        width: 100px;
                        height: 30px;
                        margin-left: 30px;
                        margin-right: 20px;
                    }

                    label {
                        width: 100px;
                        height: 30px;
                        margin-left: 30px;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .user-center-config-signature {
            p {
                flex-grow: 1;
                font-size: 0.75rem;
            }

            #signature {
                margin: 0;
                padding: 1.25rem;
                width: 49.1875rem;
                height: 15.75rem;
                border: 1px solid #e9e9e9;
                resize: vertical;
            }

            div {
                display: flex;
            }
        }

        .config-submit {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                align-self: flex-start;
            }

            button {
                width: 6.25rem;
                height: 1.875rem;
                border-radius: 5px;
                margin: 0 3rem;
            }

            .config-submit-button {
                background-color: $theme_color_main;
                color: #fff;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }

            p {
                transition-duration: .5s;
            }
        }

        .user-center-config-others {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            & > div {
                margin-bottom: 2rem;
            }

            p {
                margin: 0;
            }

            p:first-child {
                width: 10rem;
            }

            .config-gender {
                display: flex;
                align-items: center;

                select {
                    width: 3rem;
                    height: 1.5rem;
                    text-align-last: center;
                }
            }

            .config-birthday {
                display: flex;
                align-items: center;

                p:first-child {
                    width: 10rem;
                    margin: 0;
                }

                p {
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                }

                select {
                    height: 1.5rem;
                    width: 5rem;
                    text-align-last: center;
                }
            }

            .config-text {
                display: flex;
                align-items: center;

                input {
                    height: 1.5rem;
                    width: 10rem;
                    padding: 0 0.5rem;
                }
            }

            .config-introduction {
                display: flex;
                align-items: center;

                & > p {
                    align-self: flex-start;
                }

                div p {
                    font-size: 0.75rem;
                    margin: 0;
                }

                textarea {
                    height: 3rem;
                    width: 30rem;
                    padding: 0.5rem;
                    resize: none;
                }
            }
        }

        #userCenterPageCount {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-grow: 0;

            ul {
                list-style-type: none;
                display: flex;
            }

            li {
                margin: 0.5rem;
            }

            button {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                background-color: #fff;
                border: #e9e9e9 1px solid;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }

                &:focus {
                    outline: none;
                }
            }

            button[disabled] {
                cursor: default;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .user-manage {
            & > div {
                margin-bottom: 2rem;
            }

            h2 {
                margin-bottom: 2rem;
            }

            .user-manage-info {
                display: flex;

                p {
                    margin-right: 5rem;
                }
            }

            .user-manager {
                display: flex;

                & > * {
                    margin-right: 1rem;
                }

                p {
                    margin: 0;
                }

                button {
                    width: 5rem;
                }
            }
        }

        .user-manage-return {
            color: red;
        }

        .user-manage-post {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .user-manage-post-content {
            width: 20rem;
            overflow: hidden;
            text-align: center;
            max-height: 1.3rem;
        }

        .user-manage-post-ip {
            width: 7rem;
        }

        .user-manage-post-board {
            width: 7rem;
        }

        .user-manage-post-floor {
            width: 3rem;
        }

        .user-manage-post-date {
            width: 9rem;
        }

        .user-center-transfer-wealth {
            h2, p {
                margin: 0;
            }

            .transfer-wealth-input {
                display: flex;
                margin: 1rem 0;
                align-items: center;

                p {
                    margin: 0 1rem;
                    width: 5rem;
                }

                input {
                    padding: 0.5rem;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
            }

            button {
                width: 5rem;
                height: 2rem;
                align-self: center;
                margin-top: 2rem;
            }

            .transfer-wealth-info {
                margin: 1rem;
            }
        }
    }
}

.user-center-myfavorite-board {
    display: flex;
    align-items: center;

    img {
        width: 7rem;
        height: 7rem;
    }

    & > a {
        background-color: $theme_color_main;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
    }

    .user-center-myfavorite-board-info {
        flex-grow: 1;
        margin-left: 3rem;
        max-width: 36.75rem;

        p {
            word-break: keep-all;
        }
    }

    button {
        transition-duration: .4s;
        width: 6rem;
        height: 2rem;
        border-radius: 0.5rem;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    .user-follow-board {
        background-color: $theme_color_main;
        color: #FFFFFF;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}

.user-center-loading {
    display: flex;
    justify-content: center;
}

.user-theme-config {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;

    button {
        width: 7rem;
        height: 2rem;
        border-radius: 3px;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    button[disabled] {
        cursor: default;

        &:hover {
            opacity: 1;
        }
    }
}
