$theme_color_main: #B22222;
$theme_color_sub: #6b7178;
$theme_color_topbar: rgba(178,34,34,0.8);
$background_image: url(/static/images/autumn.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';
