$theme_color_main: #95b675;
$theme_color_sub: #c490bf;
$theme_color_topbar: rgba(149,182,117,0.8);
$background_image: url(/static/images/spring.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';