$theme_color_main: #b1d396;
$theme_color_sub: #f595a9;
$theme_color_topbar: rgba(177, 211, 150, 0.8);
$background_image: url(/static/images/spring.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';