$theme_color_main: rgb(52, 150, 159);
$theme_color_sub: rgb(164, 91, 134);
$theme_color_topbar: rgba(52, 150, 159, 0.8);
$background_image: url(/static/images/mid_autumn.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';