$theme_color_main: rgb(240,125,145);
$theme_color_sub: #79b8ca;
$theme_color_topbar: rgba(240,125,145,0.8);
$background_image: url(/static/images/singleday.jpg);
$background_color_page:#e6e7ec;
$background_color_textarea:#ffffff;
$font_color_text:#000000;

@import '../Styles/Site.scss';
