<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <title>CC98论坛</title>
    <link
      type="image/x-icon"
      rel="icon"
      href="/static/98icon.ico"
      sizes="16x16 32x32 48x48 64x64 128x128 256x256"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/content/font-awesome/css/font-awesome.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/content/DPlayer.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/content/APlayer.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/content/DPlayer.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/content/APlayer.min.css"
    />
    <script type="text/javascript">
      // 注册报错信息
      window.onerror = (event, source, lineno, colno) => {
        if (source.indexOf("vendors") !== -1) {
          const root = document.getElementById("root");
          root.innerHTML = [
            `<h1>啊呀，出错了</h1>`,
            `<p>前辈可以先试试强制刷新，快捷键是：<b>Ctrl</b> + <b>Shift</b> + <b>R</b> 或者 <b>Ctrl</b> + <b>F5</b></p>`,
            `<p>如果强制刷新后仍然看到这个页面，前辈可以尝试访问<a href="/reset">这里</a>重置CC98的缓存</p>`,
            `<p>或者根据自己的浏览器手动清除一下缓存~</p>`,
            `<p>如果上述方法都没能解决前辈的问题的话，请毫不犹豫联系 <a href="mailto:contact@cc98.org?subject=${encodeURIComponent(
              "CC98网页端访问报错"
            )}&body=${encodeURIComponent(
              [
                "CC98客服您好：\n",
                "我的 CC98 用户名是：\n",
                "我使用的操作系统是（Windows / MacOS / Linux / iOS / Android / 其它请注明）：\n",
                "我使用的浏览器是（Google Chrome / Microsoft Edge / Mozilla Firefox / Safari / 其它请注明）：\n",
                "我的网络环境是（内网 / RVPN / WebVPN）：\n",
                "我在访问 CC98 网页端时遇到了这个错误，截图如下：\n\n\n",
                "我已经尝试了页面上给出的所有解决方案，都未能解决这个问题，请问下一步我该如何操作？\n",
                "祝好！\n\n",
              ].join("\n")
            )}">contact@cc98.org</a>，并且记得带上出问题的截图和一些简单的说明哦~</p>`,
            `<hr />`,
            `<h2>出现了一个未被捕获的错误</h2>`,
            `错误：${event}<br />`,
            `行数：${lineno}<br />`,
            `列数：${colno}<br />`,
            `来源：${source}<br />`,
          ].join("\n");
        }
      };
    </script>
    <script type="text/javascript">
      // 控制用户缓存
      // 需要清理缓存时更新 version
      var version = "3.2.4";
      if (localStorage.getItem("version") !== version) {
        localStorage.clear();
        localStorage.setItem("version", version);
      }
    </script>
    <% const themeNames = ["default_theme_placeholder"];
    htmlWebpackPlugin.files.css.forEach((cssFile) =>
    themeNames.push(cssFile.split("/").pop())); themeNames[0] = themeNames[18];
    %>
    <script type="text/javascript">
      // 动态载入样式
      const themeNames = <%= JSON.stringify(themeNames) %>;
      try {
        const refreshTokenExpirationTime = localStorage.getItem(
          "refresh_token_expirationTime"
        );
        const isLogOn =
          refreshTokenExpirationTime &&
          parseInt(refreshTokenExpirationTime, 10) * 1000 > Date.now();
        if (!isLogOn) {
          throw new Error("用户未登录");
        }
        const userSelectedThemeIndex = JSON.parse(
          localStorage.getItem("userInfo").slice(4)
        ).theme;
        if (!userSelectedThemeIndex) {
          throw new Error("用户未选择主题");
        }
        document.head.insertAdjacentHTML(
          "beforeend",
          `<link id="mainStylesheet" type="text/css" rel="stylesheet" href="/static/content/${themeNames[userSelectedThemeIndex]}">`
        );
      } catch (e) {
        document.head.insertAdjacentHTML(
          "beforeend",
          `<link id="mainStylesheet" type="text/css" rel="stylesheet" href="/static/content/${themeNames[0]}">`
        );
      }
    </script>
  </head>
  <body style="display:flex;justify-content:center;">
    <div id="root"></div>
    <script
      type="text/javascript"
      src="/static/scripts/lib/jquery/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/lib/moment/moment.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/scripts/lib/spectrum/spectrum.js"
    ></script>
    <% const fs = require("fs"); const unsupportedHTMLString =
    fs.readFileSync("./Unsupported.html").toString(); const jsFileNames = [];
    htmlWebpackPlugin.files.js.forEach((jsFileName) => jsFileName.indexOf("css")
    === -1 && jsFileNames.push(jsFileName.split("/").pop())); %>
    <script type="text/javascript">
      // 兼容性检查
      if (!("flex" in document.documentElement.style)) {
        document.body.insertAdjacentHTML(
          "beforeend",
          <%= JSON.stringify(unsupportedHTMLString) %>
        );
      }
      // 运行主脚本
      else {
        const jsFileNames = <%= JSON.stringify(jsFileNames) %>;
        jsFileNames.forEach((jsFileName) => {
          const scriptElement = document.createElement("script");
          scriptElement.type = "text/javascript";
          scriptElement.src = `/static/scripts/${jsFileName}`;
          document.body.appendChild(scriptElement);
        });
      }
    </script>
  </body>
</html>
