.createTopic {
    display: flex;
    flex-direction: column;
    width: 1140px;
    font-family: 微软雅黑;
    font-size: 14px;
}

.createTopicBoardName {
    margin-bottom: 20px;
}

.createTopicTitle, .createTopicType, .createTopicOption, .createTopicContent {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    align-items: center;
}

.createTopicListName {
    display: flex;
    width: 120px;
    justify-content: center;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgb(233,233,233);
    box-sizing: border-box;
}

.createTopicTitle input {
    display: flex;
    width: 740px;
    border: 0;
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    outline: none;
    padding-left: 1rem;
}

.createTopicTag {
    display: flex;
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    align-items: center;
    justify-content: center;
}

.createTopicContent {
    margin-bottom: 0;
    justify-content: space-between;
}

//ubb解析图片默认不显示的样式
//相当与bootstrap4的"btn btn-outline-primary"
.hiddenImage {
    display: block;
    color: #007bff;
    width: 7rem;
    background-color: transparent;
    text-align: center;
    vertical-align: middle; //设置元素的垂直对齐方式
    border: 1px solid #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    line-height: normal;
    white-space: nowrap;
    margin-top: 1rem;
}

.hiddenImage:hover {
    background-color: #007bff;
    color: rgb(255,255,255);
    cursor: pointer;
}

//ubb解析[table]标签时的默认样式
.UBBTableTag {
    border-collapse: collapse;
}

.UBBTableTag th, td {
    border: 1px solid rgb(0,0,0);
}
