@import 'UserCenter.scss';
@import 'adddna.scss';

$bgcolor: #E9E9E9;
$bgcolor2: #F5FAFD;
$color-body: rgb(245,250,255);
$color-thinBlack: rgb(120,120,120);
$color-board: rgb(51,153,255);
$color-thinBlue: rgb(51,187,255);
$color-border: rgb(233,233,233);
$color-focus: rgb(245,245,245);
$color-gray: rgb(153,153,153);
$color-post: rgb(252,252,252);
$color-red: rgb(255,60,60);
$color-black: rgb(32,32,32);

body {
    margin: 0;
    padding: 0;
}

#root {
    font-size: 16px;
    width: 100%;
    background-color:$bgcolor2;
}

.root { //post中的一些组件用到（子裙写的，天知道为什么起这个名字），并非body下的根div元素
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: 微软雅黑;
    width: 100%;
}

.replyRoot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $bgcolor2;
    font-family: 微软雅黑;
}

#listRoot {
    display: flex;
    flex-direction: column;
    font-family: 微软雅黑;

    align-items: center;
    justify-content: center;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin-top: 2.5rem;
    min-width: 71.2px;
}

.listContent {
    display: flex;
    border: #EAEAEA solid thin;
    border-radius: 0.3125rem;
    background-color: $bgcolor2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.notice {
    display: flex;
    width: 100%;
    border: #EAEAEA solid thin;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.essay {
    height: 6rem;
    width: 100%;
    display: flex;
    align-self: flex-start;
    border-bottom: #EAEAEA solid thin;
    border-left: #EAEAEA solid thin;
    border-right: #EAEAEA solid thin;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}



#authormes {
    border-right: $bgcolor solid thin;
    width:26rem;
}


#authorName {
    margin-left: 1rem;
    justify-content: flex-start;
    font-size:1rem;
    width:8rem;
}

#authorName p {
    margin-top: 1.4375rem;
    font-size: 1rem;
    font-family: 微软雅黑;
    color: #9ACD32;
}

#fans {

    margin-top: 1.4375rem;
    font-family: 微软雅黑;
    font-size: 1rem;
}

.authorImg {
}

.authorImg img {
    margin-left: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.watch {
    width: 4.6rem;
    font-size: 0.75rem;
    font-family: 微软雅黑;
    letter-spacing: 0.1875rem;
    border-radius: 0.3125rem;
    background: red;
    border: 1px solid #B22222;
    color: #fff;
    text-align: center;
}

.email {
    width: 5rem;
    height:1.5rem;
    font-size: 0.75rem;
    font-family: 微软雅黑;
    letter-spacing: 0.2rem;
    border-radius: 0.3rem;
    background: #67B3FF;
    border: 1px solid #2576A8;
    cursor:pointer;
    a{
    color: #fff;
    }
    text-align: center;
    margin-left:1rem;
}

#title {
    width: 45rem;
    display: flex;
    border-right: $bgcolor solid thin;
}

#topicTitleProp {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title1 {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.titleProp {
    color: #FF8838;
    font-size: 1rem;
}

#essayTitle {
    word-break: keep-all;
    color: #000000;
    font-size: 16px;
}

#essayProp {
    display: flex;
    font-size: 0.625rem;
    margin-bottom: 0.625rem;
}

#like {
    flex-grow: 0;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
}

#like span {
}

#tags {
    display: flex;
    flex-wrap: nowrap;
    word-break: keep-all;
}

.tagSize {
    font-size: 0.75rem;
}

#essayGrow {
    display: flex;
    flex-direction: row;
}

#onlike {
    border: none;
    background-color: #FFFFFF;
}



.tagProp {
    margin-left: 1.5625rem;
}

#time {
    display: flex;
    flex-direction: row;
    margin-left: 0.625rem;
}

.timeProp {
    margin-left: 0.1875rem;
    font-size: 0.75rem;
    word-break: keep-all;
}

#time img {
    width: 0.625rem;
    height: 0.625rem;
}

#viewtimes {
    display: flex;
    flex-direction: row;
}

.viewProp {
    margin-left: 0.625rem;
}

#liked img {
    width: 0.625rem;
    height: 0.625rem;
}

#disliked {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

#disliked img {
    width: 0.625rem;
    height: 0.625rem;
}

#ads {
    width: 20rem;
    display: inline-flex;
}

#ads img {
    display: flex;
}

.content {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    border-left: #EAEAEA solid thin;
    border-right: #EAEAEA solid thin;
    box-sizing: border-box;
}

.reply-content {
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.substance {
    display: flex;
    line-height: 200%;
    margin: 1.25rem;
    word-wrap: break-word;
    color: rgb(80,80,80);
    padding-bottom: 1rem;
}

.signature {
    color: rgb(80,80,80);
    margin: 1.25rem;
    max-height:15rem;
}

.upup {
    cursor: pointer;
}

.downdown {
    cursor: pointer;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.75rem;
    align-items: flex-end;
    border-bottom: 2px dashed #eaeaea;
    margin-left: 2rem;
    padding-bottom: 1rem;
    margin-right: 2rem;
}

.comment1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.75rem;
    align-items: flex-end;
    border-bottom: solid thin #eaeaea;
    padding-bottom: 1rem;
    padding-right: 2rem;
}

#commentlike {
}

#commentliked {
    margin-left: 1rem;
}

#commentunliked {
    margin-left: 1.25rem;
}

#commentliked img {
    width: 0.625rem;
    height: 0.625rem;
}

#commentunliked img {
    width: 0.625rem;
    height: 0.625rem;
}

.commentbutton {
    border: none;
    background-color: #FFFFFF;
    margin-left: 0.625rem;
    outline: none;
}

.good {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding: 1.25rem;
    font-size: 0.75rem;
    border-bottom: #EAEAEA solid thin;
    border-left: #EAEAEA solid thin;
    border-right: #EAEAEA solid thin;
    box-sizing: border-box;
}

#userImage img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-left: 1.25rem;
}

#userName {
    margin-left: 0.625rem;
}

#grades {
    margin-left: 1.25rem;
}

#reward {
    margin-left: 1.25rem;
}

#credit {
    margin-left: 2.5rem;
}

.vote {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: #EAEAEA solid thin;
    border-bottom: #EAEAEA solid thin;
    border-right: #EAEAEA solid thin;
    font-size: 0.875rem;
    box-sizing: border-box;
}

.buttonFont {
    font-size: 0.75rem;
}

#checkbox {
    margin-left: 1.25rem;
}

#option1 {
    margin: 0.625rem;
}

.progress {
    margin-left: 1.25rem;
    display: flex;
    width: 40rem;
    height: 0.625rem;
    background-color: #ECEEEF;
    border-radius: 0.3125rem;
    box-sizing: border-box;
}

.voteResult {
    background-color: #F0AD4E;
    height: 10px;
    width: 60%;
    box-sizing: inherit;
}

#replierMes {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.reply {
    width: 100%;
}

.rpyClr {
    text-align:center;
    width:5rem;
    word-break: keep-all;
}

#replierMes {
    margin-top: 25px;
    margin-bottom: 10px;
}

#clockimg img {
    margin-left: 10px;
    width: 10px;
    height: 10px;
}

#operation {
    margin-top: 1rem;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
}

.operation1 {
    word-break: keep-all;
    font-size: 0.75rem;
    font-family: 微软雅黑;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    padding-top:0.1rem;
    color: #000000;
    margin-left: 0.3125rem;
    outline: none;
}

.operation {
    word-break: keep-all;
    margin-top: 1rem;
    font-size: 0.75rem;
    font-family: 微软雅黑;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    padding-top:0.1rem;
    border-radius: 0.3125rem;
    background: #FFFFFF;
    border: 1px solid #5CADDD;
    color: #000000;
    margin-left: 0.3125rem;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
    outline: none;
}

#rpymes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 6rem;
}

#ListImg img {
    width: 290px;
    height: 100px;
}

#noticeName {
    display: flex;
    background-color: #3399FE;
    font-size: 1rem;
}

#topicsNumber {
    display: flex;
    flex-wrap: nowrap;
    word-break: keep-all;
}

.postTopic {
    width: 80px;
    height: 30px;
    border: none;
    background-color: #FF593D;
    color: #FFFFFF;
    border-radius: 5px;
}

.postVote {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border: none;
    background-color: #33C499;
    color: #FFFFFF;
    border-radius: 5px;
}



#pager {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.chooseTag {
    border: #33C499 solid thin;
    width: 6rem;
    height: 2rem;
    margin-left: 0.625rem;
    background-color: $bgcolor2;
    border-radius: 0.3125rem;
}

.tagNumber {
    background-color: #9BCCFE;
    color: #FFFFFF;
    border-radius: 0.3125rem;
}

.listContentTag {
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    margin-bottom: 0.625rem;
    border: none;
    background-color: $bgcolor2;
    cursor:pointer;
}

.topicInList {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.625rem;
}

#commentsAmount img {
    width: 10px;
    height: 10px;
}

#changeColor:nth-child(odd) {
    background-color: #FCFCFC;
}
#changeTopColor {
    background-color: #FFFAF0;
}


#lastReply {
    margin-right: -1.8rem;
    margin-left: 1rem;
}

a {
    text-decoration: none; /*超链接无下划线*/
    color: #000000;
}

#tagButton {
    border-radius: 5px;
    border: #33C499 solid thin;
    width: 4.375rem;
    background-color: #F5FAFD;
}
.follow {
    width: 5rem;
    background-color: #FF6A6A;
    margin-right: 0.63rem;
    margin-left: 1rem;
    height: 1.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.75rem;
    font-family: 微软雅黑;
    letter-spacing: 0.2rem;
    border-radius: 0.3rem;
    background: red;
    border: 1px solid #B22222;
    color: #fff;
}
.followuser {
    width: 6rem;
    background-color: #FF6A6A;
    margin-right: 0.63rem;
    margin-left: 2.5rem;
    margin-top:2.5rem;
    height: 2.5rem;
    cursor: pointer;
    text-align: center;
    font-family: 微软雅黑;
    letter-spacing: 0.2rem;
    border-radius: 0.3rem;
    border: 1px solid #B22222;
    color: #fff;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:71.2rem;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
}

.orange:hover {
    background: #f47c20;
}

.orange:active {
    color: #fcd3a5;
    background-color: #faa51a;
}

.green {
    color: #fef4e9;
    border: solid 1px #71c671;
    background-color: #66cd00;
}

.green:hover {
    background-color: #71cd61
}

.green:active {
    color: #fcd3a5;
    background-color: #66cd00;
}

.blue {
    color: #fff;
    border: solid 1px #add8e6;
    background-color: #b2dfee;
}

.blue:hover {
    background-color: #87CEEB;
}

.blue:active {
    color: #b0e2ff;
    background-color: #b0e0e6;
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 1.25rem 0;
    border-radius: 0.25rem;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.pager li {
    display: inline;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.pager .next > a,
.pager .next > span {
    float: right;
}

.pager .previous > a,
.pager .previous > span {
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

.page-item {
    box-sizing: inherit;
}

.page-link {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-top: 5px;
    color: #0275d8;
    margin-left: -1px;
    border: 1px solid #ddd;
    line-height: 2px;
}

//以下是版面列表的样式~~---------------------------------------------------------
.boardList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1140px;
    align-items: center;
}

.anArea {
    display: flex;
    flex-direction: column;
    width: 1140px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    margin-bottom: 30px;
}

.hideBoard {
    width: 30px;
    height: 20px;
    margin-left: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    text-align: center;
    cursor: pointer;
}

.areaName {
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-left: 18px;
}

.areaContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boardContent {
    display: flex;
    flex-direction: column;
    margin: 18px 15px 18px 18px;
    width: 250px;
}

.noImgBoardContent {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 18px 18px;
    width: 250px;
}

.greenBackdrop {
    height: 88px;
    width: 250px;
    background-color: rgb(41,197,133);
}

.boardName2 {
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-top: 12px;
}

.boardInfo {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-top: 12px;
}

/*****************************************以下为我的消息的样式*********************************/
.message-root {
    display: flex;
    justify-content: center;
}

.message {
    display: flex;
    flex-direction: column;
    width: 1140px;
    height: 780px;
    margin-bottom: 60px;
}

.message-title {
    margin-top: 30px;
    font-size: 14px;
    color: $color-thinBlack;
}

.message-content {
    display: flex;

    margin: {
        top: 30px;
        bottom: 30px;
    }
}

.message-nav {
    flex-shrink: 0;
    width: 198px;
    height: 674px;
    margin-right: 30px;
    border: 1px solid $color-border;
    display: flex;
    flex-direction: column;
    background-color: $color-post;

    .message-nav-focus {
        a {
            color: $color-red;
        }
    }

    div {
        height: 14px;
        padding: 18px 0px 22px 30px;
        font-size: 14px;
        border-bottom: 1px dashed lightgray;

        a {
            text-decoration: none;
            color: $color-black;

            &:hover {
                color: $color-red;
            }
        }
    }
}

.message-login {
    position: absolute;
    top: 250px;
    left: 50%;
    font-size: 20px;
}

.message-message {
    display: flex;
    flex-grow: 1;
}


.message-message-people {
    display: flex;
    flex-direction: column;
    width: 198px;
    border: 1px solid $color-border;
    font-size: 14px;

    .message-message-pTitle {
        color: $color-thinBlack;
        background-color: $color-body;
        height: 14px;
        padding: 11px 71px 13px 71px;
        border-bottom: 1px solid $color-border;
    }

    .message-message-pList {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background-color: $color-post;
        overflow-y: auto;

        a {
            text-decoration: none;
            color: $color-black;
        }

        .message-message-pFocus {
            background-color: $color-focus;
        }

        .message-message-plMore {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            img {
                padding-top: 20px;
            }

            div {
                font-size: 12px;
                color: $color-thinBlack;
                text-align: center;
                padding-top: 10px;
            }

            padding-bottom: 10px;
        }

        .message-message-person {
            flex-shrink: 0;
            display: flex;
            min-height: 80px;
            border-bottom: 1px dashed lightgray;
            cursor: pointer;

            &:hover {
                @extend .message-message-pFocus;
            }

            .message-message-pPortraitUrl {
                display: inline-block;
                width: 40px;
                height: 40px;
                padding: 20px 10px;
                border-radius: 50%;
            }

            .message-message-pInfo {
                flex-grow: 1;
                height: 40px;
                margin: 20px 0px;
                display: flex;
                flex-direction: column;

                .message-message-pName {
                    height: 14px;
                    font-size: 14px;
                    color: $color-black;
                    padding-bottom: 10px;
                }

                .message-message-pMessage {
                    height: 10px;
                    width: 110px;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 10px;
                    color: $color-gray;
                    padding-bottom: 6px;
                }
            }
        }
    }
}

.message-message-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: $color-post;

    .message-message-wHeader {
        flex-basis: 39px;
        border-top: 1px solid $color-border;
        border-right: 1px solid $color-border;
        display: flex;

        .message-message-wReport {
            flex-basis: 62px;
            color: $color-thinBlack;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 30px;
                height: 20px;
                line-height: 16px;
                font-size: 12px;
                text-align: center;
                border: 0px;
                border-radius: 2px;
                background-color: $color-post;
                padding: 0px;

                &:hover {
                    border: 0px;
                    background-color: $color-body;
                }

                &:active {
                    border: 0px;
                    background-color: $color-post;
                    position: relative;
                    top: 1px;
                    left: 1px;
                }

                &visited {
                    border: 0px;
                }
            }
        }

        .message-message-wTitle {
            flex-grow: 1;
            color: $color-black;
            font-size: 14px;
            text-align: center;
            height: 14px;
            padding: 11px 0px 13px 0px;
        }
    }

    .message-message-wContent {
        flex-basis: 479px;
        border-top: 1px solid $color-border;
        border-right: 1px solid $color-border;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        overflow-x: hidden;

        .quickToTheBottom {
            width: 100px;
            height: 0px;
        }

        .message-message-wcLoading {
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            justify-content: center;
            align-items: center;


            .message-message-wcLoadingText {
                height: 10px;
                font-size: 10px;
                color: $color-thinBlack;
                text-align: center;
                padding: 10px 0px 21px 0px;
            }
        }

        .message-message-wc {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            margin: 10px 0px 10px 0px;

            .message-message-wcTime {
                height: 10px;
                font-size: 10px;
                color: $color-thinBlack;
                text-align: center;
                padding: 5px 0px 8px 0px;
            }

            .message-message-wcSender {
                display: flex;
                flex-direction: row-reverse;
                position: relative;

                .message-message-wcPortraitUrl {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 5px 20px;
                    margin-right: 10px;
                }

                .message-message-wcContent:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: 85px;
                    top: 18px;
                    border: 8px solid;
                    border-color: transparent transparent transparent $color-border;
                }

                .message-message-wcContent:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: 89px;
                    top: 20px;
                    border: 6px solid;
                    border-color: transparent transparent transparent $color-body;
                }
            }

            .message-message-wcReceiver {
                display: flex;
                flex-direction: row;
                position: relative;

                .message-message-wcPortraitUrl {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 5px 20px;
                    margin-left: 10px;
                }

                .message-message-wcContent:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 85px;
                    top: 18px;
                    border: 8px solid;
                    border-color: transparent $color-border transparent transparent;
                }

                .message-message-wcContent:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 89px;
                    top: 20px;
                    border: 6px solid;
                    border-color: transparent $color-body transparent transparent;
                }
            }

            .message-message-wcContent {
                background-color: $color-body;
                border: 1px solid $color-border;
                border-radius: 3px;
                width: auto;
                height: auto;
                max-width: 500px;
                margin-top: 8px;
                margin-bottom: 10px;

                .message-message-wcText {
                    font-size: 14px;
                    color: $color-thinBlack;
                    margin: 10px 10px 9px 10px;
                    line-height: 22px;
                    clear: both;
                }
            }

            .message-message-wcRead1 {
                flex-basis: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .message-message-wcRead2 {
                    font-size: 12px;
                    color: $color-thinBlack;
                    flex-basis: 12px;
                    flex-grow: 0;
                    text-align: center;
                }
            }
        }
    }

    .message-message-wPost {
        flex-basis: 160px;
        border-top: 1px solid $color-border;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 245, 245);
        position: relative;

        .message-message-wPostArea {
            width: 648px;
            height: 78px;
            line-height: 22px;
            font-size: 12px;
            border: 1px solid $color-border;
            margin: 19px 29px 10px 29px;
            background-color: $color-post;
        }

        .message-message-wPostNotice {
            position: absolute;
            line-height: 20px;
            margin-top: 22px;
            margin-left: 34px;
            color: #777;
            font-size: 14px;
            cursor: inherit;
        }

        .message-message-wPostError {
            position: absolute;
            line-height: 20px;
            margin-top: 22px;
            margin-left: 34px;
            color: red;
            font-size: 14px;
            cursor: inherit;
        }

        .message-message-wPostBtn {
            width: 100px;
            height: 30px;
            background-color: $color-board;
            color: $color-post;
            border: 0px;
            border-radius: 3px;
            font-size: 12px;
            text-align: center;
            margin: 0px 29px 19px 580px;

            &:hover {
                background-color: $color-thinBlue;
            }

            &:active {
                background-color: $color-board;
                position: relative;
                top: 1px;
                left: 1px;
            }
        }
    }
}

.message-system {
    display: flex;
    flex-direction: column;
    max-width: 910px;
    height: 680px;
    font-family: 微软雅黑;
    border: 1px solid $color-border;

    .message-system-box { /*一个系统消息的框框*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 120px;
        width: 910px;
        border-bottom: 1px dashed lightgray;
    }

    .message-system-box-title { /*一个系统消息标题*/
        height: 50px;
        max-width: 200px;
        font-size: 15px;
        line-height: 50px;
        color: black;
        margin-left: 30px;
    }

    .message-system-box-date { /*一个系统消息日期*/
        height: 50px;
        width: 650px;
        font-size: 13px;
        line-height: 50px;
        color: lightgray;
        margin-left: 10px;
    }

    .message-system-box-content { /*一个系统消息内容*/
        height: 70px;
        width: 910px;
        font-size: 14px;
        color: gray;
        margin-left: 30px;
    }
}

.message-response {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border;
    overflow-y: auto;
    background-color: $color-post;

    .message-response-box { /*一个消息的框框*/
        flex-shrink: 0;
        display: flex;
        min-height: 120px;
        border-bottom: 1px dashed lightgray;
    }

    .message-response-img { /*头像*/
        margin: 30px 20px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    .message-response-box-left { /*一个消息框的左边-头像*/
        flex-basis: 100px;
    }

    .message-response-box-middle { /*消息框的中间-文字*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 750px;

        .message-response-box-middle-name { /*消息框文字第一行 用户名*/
            height: 30px;
            flex-basis: 90px;
            font-size: 14px;
            line-height: 30px;
            color: $color-black;
            margin-top: 20px;
        }

        .message-response-box-middle-title { /*消息框文字第一行 学术信息*/
            height: 30px;
            flex-basis: 70px;
            font-size: 14px;
            line-height: 30px;
            color: dodgerblue;
            margin-top: 20px;
        }

        .message-response-box-middle-date { /*消息框文字第一行日期*/
            height: 30px;
            flex-basis: 300px;
            font-size: 12px;
            line-height: 30px;
            color: gray;
            margin-top: 20px;
        }

        .message-response-content { /*消息框文字第二行-主体内容*/
            height: 30px;
            flex-basis: 750px;
            font-size: 16px;
            line-height: 30px;
            color: black;
            margin-left: 10px;
            margin-bottom: 50px;
        }
    }

    .message-response-box-right { /*查看*/
        flex-basis: 60px;
        line-height: 120px;
        font-size: 14px;
        color: gray;
        margin-left: 10px;
    }
}

.message-system {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid $color-border;
    overflow-y: auto;
    background-color: $color-post;

    .message-system-box { /*一个系统消息的框框*/
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 120px;
        border-bottom: 1px dashed lightgray;

        .message-system-box-title { /*一个系统消息标题*/
            height: 50px;
            max-width: 200px;
            font-size: 16px;
            line-height: 50px;
            color: $color-black;
            margin-left: 30px;
        }

        .message-system-box-date { /*一个系统消息日期*/
            height: 50px;
            width: 650px;
            font-size: 12px;
            line-height: 50px;
            color: lightgray;
            margin-left: 10px;
        }

        .message-system-box-content { /*一个系统消息内容*/
            height: 70px;
            width: 840px;
            font-size: 14px;
            color: gray;
            margin-left: 30px;
            margin-right: 40px;
        }
    }
}

/*****************************************以下为我的关注的样式*********************************/
.focus-root {
    display: flex;
    justify-content: center;
}

.focus {
    display: flex;
    flex-direction: column;
    width: 1140px;
    min-height: 780px;
    margin-bottom: 60px;
}

.focus-title {
    width: 88px;
    height: 14px;
    margin-top: 20px;
    font-size: 14px;
    color: $color-thinBlack;
    padding: 0px 1px 6px;
}

.focus-board-area {
    display: flex;
    flex-wrap: wrap;
    min-height: 30px;

    .focus-board {
        height: 14px;
        flex-shrink: 0;
        cursor: pointer;

        border: {
            style: solid;
            width: 1px;
            color: $color-board;
            radius: 2px;
        }

        font-size: 14px;
        color: $color-board;
        padding: 4px 11px 10px;
        margin-right: 20px;
        margin-top: 20px;

        &:hover {
            background-color: rgba(0,150,255,0.1);
        }

        &:active {
            background-color: rgba(0,150,255,0.1);
        }
    }

    .focus-hover {
        background-color: rgba(0,150,255,0.1);
    }
}

.focus-topic-area {
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;

    .focus-topic-topicArea {
        display: flex;
        flex-direction: column;
    }

    .focus-topic-loading {
        margin-top: 20px;
        text-align: center;

        img {
            width: 200px;
            height: 18px;
        }
    }

    .focus-topic-loaddone {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        color: $color-black;
    }
}


.focus-topic {
    display: flex;
    min-height: 98px;
    border: 1px solid $color-border;
    background-color: $color-post;
    margin-top: 20px;
    overflow: hidden;
}

.focus-topic-portraitUrl {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 19px;
    border-radius: 50%;
}

.focus-topic-info1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .focus-topic-authorInfo {
        display: flex;
        height: 12px;
        margin: 30px 0px 0px 2px;
        font-size: 12px;
    }

    .focus-topic-title {
        height: 12px;
        margin: 14px 0px 30px 2px;
        font-size: 12px;
        color: $color-black;
    }
}

.focus-topic-info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    color: $color-thinBlack;

    .focus-topic-board {
        margin: 30px 18px 0px;

        a {
            color: $color-thinBlack;
        }
    }

    .focus-topic-response {
        display: flex;
        margin: 14px 10px 30px;
        width: 216px;

        div {
            flex-basis: 54px;
            display: inline-flex;
            align-items: baseline;
            flex-shrink: 0;

            i {
                font-size: 14px;
                flex-basis: 18px;
            }
        }
    }
}


.focus-topic-blackText {
    color: $color-thinBlack;
    min-height: 12px;
    flex-basis: 90px;
}

.focus-topic-redText {
    color: $color-red;
    flex-basis: 26px;
    min-height: 12px;
}


.focus-allNewTopic {
    color: $color-thinBlack;
    min-height: 14px;
    font-size: 14px;
    display: flex;
    align-items: baseline;

    i {
        flex-basis: 18px;
        font-size: 14px;
    }
}

.displaynone {
    display: none;
}
//-------------------------以下是头部的样式！ ----------------------------------------
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1140px;
    margin: 0 0 20px 0;
    padding: 0px;
    justify-content: center;
    background: url(/images/winter1.png) no-repeat center;
    z-index: 2;
}

.topBar {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: rgba(80,80,80,0.5); //仅背景条半透明，内层元素无半透明效果
}

.topBarRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
}

.headerContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 188px;
    justify-content: center;
}

.headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    margin-top: 130px;
}

.linkBar {
    display: flex;
    flex-direction: row;
    height: 36px;
    background-color: rgb(252,252,252);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 2px;
    box-sizing: border-box;
    align-items: center;
}

.linkText {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(70,70,70);
    margin-top: 12px;
}

//以下是头部中顶部条下拉菜单的样式~

#dropdown {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(255,255,255);
}

#dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dropdown a {
    color: rgb(255,255,255);
}

#dropdown .box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dropdown .userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dropdown .userImg img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 0 0 0;
}

#dropdown .userName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 50px;
    cursor: pointer;
}

#dropdown .topBarText {
    margin-top: 12px;
}

#dropdown .boardListLink {
    display: flex;
    height: 55px;
    width: 60px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(53,177,255);
    font-size: 16px; //这里字体要大一点
    letter-spacing: 2px;
    justify-content: center;
    background: linear-gradient(rgb(53,177,255),rgb(13,137,255)); //渐变效果
    background: -webkit-linear-gradient(rgb(53,177,255),rgb(13,137,255)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgb(53,177,255),rgb(13,137,255)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgb(53,177,255),rgb(13,137,255)); /* Firefox 3.6 - 15 */
}

#dropdown .boardListLink:hover { //:hover 选择器用于选择鼠标指针浮动在上面的元素
    filter: brightness(1.1); //亮度
    -webkit-filter: brightness(1.1);
}

#dropdown .dropDownSubBox {
    margin-top: -5px;
}

#dropdown .dropDownSub {
    width: 94px;
    display: none;
    background-color: rgba(80,80,80,0.5);
    margin-left: 30px;
    opacity: 0.9999; //暂时不知道原因，但是如果不加上一个小于1的opacity值，下拉会出问题,猜测是opacity把元素及所有子元素合在一起？
}

#dropdown .dropDownSub li {
    display: flex;
    height: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#dropdown .dropDownSub li.hover {
    background: rgb(53,177,255);
}
//以下是头部中搜索条的样式
#search {
}

#search .box, #search .select, #search input, #search a, #search .searchBoxSub {
    background: rgb(255,255,255);
}

#search .box {
    display: flex;
    flex-direction: row;
    height: 36px;
    width: 340px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 2px;
    box-sizing: border-box;
    align-items: center;
    opacity: 0.8;
}

#search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search .searchBoxSelect {
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    cursor: pointer;
}

#search .downArrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    border-right: 2px solid rgb(233,233,233);
    padding-right: 2px;
    cursor: pointer;
}

#search input {
    display: flex;
    border: 0;
    width: 260px;
    height: 30px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    outline: none;
    padding-left: 2px;
}

#search .searchIco {
    width: 20px;
    padding: 2px 0 0 3px;
}

#search ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#search .searchBoxSub {
    width: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 2px;
    box-sizing: border-box;
    display: none;
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
}

#search .searchBoxSub li {
    height: 25px;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 3px;
}

#search .searchBoxSub li.hover {
    background: rgb(233,233,233);
}
//-------------------------以下是底部的样式~~~---------------------------------------------------
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(242,242,242);
    padding-top: 15px;
    width: 100%;
    min-width: 1140px;
}

.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-bottom: 15px;
}

.footerRow a {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-left: 10px;
    margin-right: 10px;
}

//--------------------------------以下是首页的样式~ --------------------------------------------
.mainPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 1140px;
    z-index: 0;
}

.leftPart {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.rightPart {
    display: flex;
    flex-direction: column;
}

.announcement {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 860px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    border-radius: 20px 0;
    margin-bottom: 30px;
}
//以下这段是推荐阅读的样式~~
.recommended1 {
    display: flex;
    flex-direction: column;
    height: 126px;
    width: 860px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    border-radius: 20px 0;
    margin-bottom: 30px;
    padding: 25px 0 0 20px;
}

.recommended1Content {
    display: none;
}

.recommended1Img {
    margin-right: 10px;
}

.recommended1Img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.recommended1Title {
    margin-top: 3px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(32,32,32);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recommended1Abstract {
    margin-top: 12px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(160,160,160);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;
}

.recommended1Content {
    display: none;
}

.recommended1Button {
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: rgb(160,160,160);
    border-width: 1px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 5px 0 5px;
}

#hover {
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: rgb(160,160,160);
    border-width: 1px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 5px 0 5px;
    background-color: rgb(53,177,255);
}
//推荐阅读到此为止~
.list1 {
    display: flex;
    flex-direction: column;
    height: 344px;
    width: 415px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    border-radius: 20px 0;
    margin-bottom: 30px;
    margin-right: 30px;
}

.list2 {
    display: flex;
    flex-direction: column;
    height: 344px;
    width: 415px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    border-radius: 20px 0;
    margin-bottom: 30px;
}

.recommended2 {
    display: flex;
    flex-direction: column;
    height: 346px;
    width: 250px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    margin-bottom: 30px
}

.ad {
    display: flex;
    margin-bottom: 30px;
}

.ad img {
    width: 250px;
    height: 100px;
}

.news {
    display: flex;
    flex-direction: column;
    height: 347px;
    width: 250px;
    border-style: solid;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    margin-bottom: 30px;
}

.boardRecommended {
    display: flex;
    flex-direction: column;
}

.blueBar1 {
    background-color: rgb(53,177,255);
    border-radius: 20px 0 0 0;
    height: 40px;
    width: 858px;
    padding: 10px 10px 0 20px;
    box-sizing: border-box;
}

.blueBar2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(53,177,255);
    border-radius: 20px 0 0 0;
    height: 40px;
    width: 413px;
    padding: 10px 10px 0 20px;
    box-sizing: border-box;
}

.listName {
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(252,252,252)
}

.more {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(252,252,252);
    margin-top: 1px;
}

.announcementContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0 0 10px;
}

.announcementDate {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-top: 12px;
    margin-right: 12px;
}

.announcementText {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(80,80,80);
    margin-top: 12px;
    margin-right: 16px;
}

.announcementLink1 {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(254,36,51);
    margin-top: 12px;
}

.announcementLink2 {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(13,59,255);
    margin-top: 12px;
    margin-right: 12px;
}

.listContent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 0 0 0;
}

.listRow {
    display: flex;
    width: 415px;
    white-space: nowrap; //表示文本不会换行，在同一行继续，直到遇到<br>标签为止
    overflow: hidden; //不显示超过对象尺寸的内容
    //text-overflow: ellipsis; //当文本对象溢出时显示...
}

.boardName {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(255,136,56);
    margin: 6px 6px 5px 8px;
}

.boardName a {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(255,136,56);
}
.listTitle {
    max-width:20rem;
    margin-right:1rem;
    white-space: nowrap; //表示文本不会换行，在同一行继续，直到遇到<br>标签为止
    overflow: hidden; //不显示超过对象尺寸的内容
    text-overflow: ellipsis; //当文本对象溢出时显示...
}
.topicTitle {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(70,70,70);
    margin-top: 6px;
    margin-bottom: 5px;
    width: 300px;
    white-space: nowrap; //表示文本不会换行，在同一行继续，直到遇到<br>标签为止
    overflow: hidden; //不显示超过对象尺寸的内容
    text-overflow: ellipsis; //当文本对象溢出时显示...
}

.dashedBorder {
    height: 40px;
    width: 248px;
    border-bottom-style: dashed;
    border-color: rgb(233,233,233);
    border-width: 1px;
    box-sizing: border-box;
    background-color: rgb(252,252,252);
    padding: 10px 0 0 9px;
}

.heading {
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(70,70,70)
}

.recommended2Img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 7px 12px 0 10px;
}

.recommended2Title {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(32,32,32);
    margin-top: 18px;
}

.newsContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 28px;
}

.newsText {
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(70,70,70);
    margin-top: 11px;
}

.blueBackdrop {
    height: 88px;
    width: 250px;
    background-color: rgb(0,157,255);
    margin-top: 20px;
}


/*
* UBB用
*/
.ubb-code {
    ol {
        list-style: none;
        counter-reset: li
    }

    li {
        counter-increment: li
    }

    li::before {
        content: counter(li);
        display: inline-flex;
        width: 50px;
        margin: 0 10px;
        justify-content: center;
        background-color: #ebebeb;
    }
}
/**
    弹出用户悬浮窗
*/
.popup {
    width: 25rem;
    height: 15.625rem; /*高度自由，因为不确定，内容多少。*/
    border: 1px solid #D5D5D5;
    background: #fff; /*窗口内容不透明，背景为白色*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25); /*内容窗口带阴影*/
    border-radius: 0.5rem; /* 所有角都使用半径为8px的圆角，此属性为CSS3标准属性 */
    -moz-border-radius: 0.5rem; /* Mozilla浏览器的私有属性 */
    -webkit-border-radius: 0.5rem; /* Webkit浏览器的私有属性 */ /*窗口圆角*/
    z-index: 9000;
}

.popup_title {
    background: url(/images/headerBackground.jpg) no-repeat center;
    height: 7.8rem;
    line-height: 1.5rem; /*使垂直居中*/
    border-bottom: 1px solid #efefef; /*底边框*/
    border-radius: 0.5rem 0.5rem 0 0; /* 左上角和右上角使用半径为5px的圆角，此属性为CSS3标准属性 */
    -moz-border-radius: 0.5rem 0.5rem 0 0; /* Mozilla浏览器的私有属性 */
    -webkit-border-radius: 0.5rem 0.5rem 0 0; /* Webkit浏览器的私有属性 */ /*窗口圆角*/
    color: #535353;
    font-size: 1rem; /*字体颜色和字体大小*/
    -moz-user-select: none; /* Firefox all */
    -webkit-user-select: none; /* Chrome all / Safari all /opera15+*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    -o-user-select: none; /* 以上两个属性目前并未支持，写在这里为了减少风险 */
}
/*
    登录页用
*/
.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;

    & > div {
        margin-top: 30px;
        background-color: white;
        min-width: 1140px;
        display: flex;
        border: 1px solid rgb(204,204,204);
        height: 567px;

        & > img {
            margin: 30px;
        }

        & > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 50px;

            & > img {
                width: 123px;
                height: 26px;
                margin-right: 200px;
            }

            & > p {
                margin-right: 200px;
                font-size: 12px;
            }

            .LogOffInfo {
                align-self: center;
                font-size: 1rem;
                margin-right: 0;
            }
        }
    }

    .login-form {
        display: flex;
        margin-right: 80px;
        margin-top: 30px;
        font-size: 12px;

        input {
            width: 320px;
            height: 40px;
            border: 1px solid rgb(204,204,204);
            border-radius: 5px;
            margin-left: 25px;
            padding: 0 10px;
        }
    }

    a {
        color: rgb(40,167,225);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    button {
        margin-right: 5rem;
        height: 2.5rem;
        width: 20rem;
        border: 0;
        background-color: rgb(40,167,225);
        color: white;
        border-radius: 0.3125rem;

        &:hover {
            background-color: rgb(41,174,223);
        }

        &:active {
            background-color: rgb(38,154,196);
        }
    }

    #loginMessage {
        color: red;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        margin-right: 80px;
    }
}

@keyframes cssShake {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(5px);
    }
}

.shake {
    animation-name: cssShake;
    animation-duration: 50ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
//------------------------登录页到此结束----------------------------------
#sendTopic {
    border: #CCCCCC solid thin;
    display: flex;
    flex-direction: column;



    #sendTopic-options {
        background-color: #fff;
        border-bottom: #CCCCCC solid thin;
    }

    #sendTopic-input {
        background-color: #fff;
        height: 34.5rem;
        padding: 1rem;
        border: none;
        width: 96.5%;
    }
}

.editor__menu {
    float: left;
    margin: 0 2px;
    vertical-align: text-top;
    padding-left: 0.3125rem;
}

.editor__menu li {
    list-style: none;
    float: left;
    list-style-type: none;
    margin-right: 2px;
    margin-left: 2px;
}

.editor__menu--bold {
    background-image: url(/images/editOption.png);
    background-size: 380px 60px;
    border-bottom-color: rgb(255, 255, 255);
    display: block;
    height: 20px;
    list-style-type: none;
    width: 20px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #fff;
}

.wmd-spacer1 {
    margin: 5px 4px;
    width: 0px;
    height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px solid #ddd;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

#sendTopic-send {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    width: 50px;
    margin-top: 20px;
    background-color: rgb(128,187,235);
    color: #fff;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    letter-spacing: 5px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

#quoteOverflow {
    overflow-y: auto;
}

.userDetails {
    z-index: 1;
}

/**********************************搜索页的样式*********************************/
.noRusult {
    font-size: 16px;
    color: $color-thinBlack;
    margin-top: 100px;
    text-align: center;
}