.ubb-editor {
    background-color: white;
    border: 1px solid rgb(204,204,204);

    .editor-buttons {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(204,204,204);
    }

    p, label, select, input, textarea, button {
        border: none;

        &:focus {
            outline: none;
        }

        &::before {
            font-family: FontAwesome;
        }
    }

    label, button {
        transition-duration: .5s;
        height: 2rem;
        font-size: 14px;
        background-color: white;
        padding: 0;
        border: none;
        cursor: pointer;
        margin: 0 1rem;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .editor-buttons-extends, .editor-buttons-styles {
        display: flex;
        align-items: center;
    }

    .editor-buttons-extends {
        margin-left: -1.2rem;
    }

    .editor-buttons-selects {
        display: flex;
        align-items: center;
        padding-left: 1.2rem;

        p {
            margin: 0;
            margin-right: -2.5rem;
            font-size: 14px;
            z-index: 1;
            pointer-events: none;
        }

        select {
            width: 2rem;
            height: 2rem;
            margin: 0 1.2rem;
            text-align-last: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
        }
    }

    .ubb-extend {
        display: flex;
        align-items: center;
        transition-duration: .5s;
        overflow: hidden;
        border-bottom: 1px solid rgb(204,204,204);
        height: 2rem;
        padding: 0 1rem;

        p {
            margin: 0;
            font-size: 14px;
        }

        input {
            height: 2rem;
            width: 35rem;
        }
    }

    .ubb-content {
        padding: 1rem;

        textarea {
            border: none;
            width: 100%;
            padding: 0;
            height: 34.5rem;
            resize: none;
            font-size: 1rem;
        }
    }
}
