@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.user-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: 微软雅黑;
    min-width: 1140px;

    a {
        color: black;

        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }
    }
}

.user-center-head {
    width: 1140px;
    height: 73px;
    display: flex;
    align-items: center;
}

.user-center-body {
    width: 1140px;
    min-width: 666px;
    display: flex;
    justify-content: space-between;

    .user-center-navigation-fixed {
        position: fixed;
    }

    .user-center-navigation {
        width: 174px;
        height: 620px;
        top: 100px;
        padding: 10px;
        background-color: white;
        border: 1px solid rgb(204,204,204);

        button {
            width: 80px;
            position: fixed;
            bottom: 5%;
            right: 13%;
            height: 50px;
            border-radius: 10px;
            opacity: 0.5;
            display: none;
            z-index: 2;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 1;
            }
        }

        .btn-show {
            animation-name: fadeIn;
            animation-duration: 1s;
            display: inherit;
        }

        .btn-disappare {
            display: inherit;
            animation-name: fadeOut;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
        }

        ul {
            list-style-type: none;
            padding: 0;

            hr {
                background-color: #fff;
                border-top: 1px dashed rgb(204,204,204);
            }
        }

        .user-center-navigation-active {
            * {
                color: red;
            }
        }

        li {
            height: 53px;
            display: flex;
            align-items: center;
            font-family: FontAwesome;

            .fa-home:before {
                font-family: FontAwesome;
                content: "\f015";
            }

            .fa-pencil-square-o:before {
                font-family: FontAwesome;
                content: "\f044";
            }

            .fa-star:before {
                font-family: FontAwesome;
                content: "\f005";
            }

            .fa-heart:before {
                font-family: FontAwesome;
                content: "\f004";
            }

            .fa-users:before {
                font-family: FontAwesome;
                content: "\f0C0";
            }

            .fa-cog:before {
                font-family: FontAwesome;
                content: "\f013";
            }

            a {
                display: inline-flex;
                align-items: center;
                padding-left: 10px;

                p {
                    margin-left: 10px;
                }
            }
        }
    }

    .user-center-router {
        width: 72.5%;
        margin-left: auto;
        padding: 30px;
        background-color: white;
        border: 1px solid rgb(204,204,204);

        .user-center-exact {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .user-avatar {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .user-avatar-img {
                    width: 160px;
                    height: 160px;
                    border-radius: 80px;
                }
            }

            .user-profile {
                width: 80%;

                & > * {
                    margin: 30px;
                    margin-right: 0px;
                }

                #userId {
                    font-size: 18px;
                    margin-top: 5px;
                }

                button {
                    transition-duration: 0.4s;
                    background-color: rgb(104,179,255);
                    color: white;
                    width: 80px;
                    height: 30px;
                    margin: 0;
                    float: right;
                    border-radius: 3px;

                    &:hover {
                        background-color: rgb(41,174,223);
                    }

                    &:active {
                        background-color: rgb(38,154,196);
                    }
                }

                #userGenderAndBirthday {
                    display: flex;

                    & :first-child {
                        width: 108px;

                        &:after {
                            font-family: FontAwesome;
                            content: '\F222';
                        }
                    }
                }

                .user-description {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    & > p {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    article {
                        width: 100%;
                        padding: 10px;
                        font-size: 12px;
                        text-indent: 2em;
                        white-space: pre;
                    }
                }
            }

            .user-activities {
                width: 100%;

                .user-activities-active {
                    color: rgb(160,160,160);
                }

                & > p {
                    font-size: 18px;
                    margin-bottom: 30px;
                }

                .user-posts {
                    margin-top: 20px;

                    p {
                        line-height: 3em;
                        overflow: hidden;
                    }

                    hr {
                        background-color: #fff;
                        border-top: 1px dashed rgb(204,204,204);
                        margin: 20px 0 20px 0;
                    }

                    .user-post-board {
                        margin-right: 16px;
                        color: rgb(53,167,255);
                    }

                    .user-post-date {
                        margin-right: 16px;
                        color: rgb(160,160,160);
                    }

                    .user-post-approval {
                        float: right;
                        font-size: 12px;

                        span {
                            font-family: FontAwesome;
                            margin: 20px;
                        }

                        .fa-thumbs-o-up:before {
                            content: '\F087';
                        }

                        .fa-thumbs-o-down:before {
                            content: '\F088';
                        }
                    }

                    .user-post-content {
                        font-size: 12px;
                    }
                }
            }
        }

        .user-center-myfans, .user-center-myfollowings {
            hr {
                margin-bottom: 30px;
                background-color: #fff;
                border-top: 1px dashed rgb(204,204,204);
            }

            .user-center-myfollowings-user {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                p {
                    flex-grow: 1;
                }

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    margin-right: 20px;
                }

                button {
                    width: 70px;
                    height: 26px;
                    font-size: 12px;
                    border-radius: 3px;
                    background-color: rgb(230,230,230);
                    color: rgb(160,160,160);
                }

                .user-center-myfollowings-user-id {
                    margin-right: 20px;
                }

                .user-center-myfollowings-user-posts {
                    margin: 0 14px 0 12px;
                    color: rgb(53,167,255);
                }

                .user-center-myfollowings-user-fans {
                    margin: 0 14px 0 12px;
                    color: rgb(255,54,54);
                }
            }
        }

        .user-center-myposts {
            .user-activities-active {
                color: rgb(160,160,160);
            }

            .user-posts {
                margin-top: 20px;

                p {
                    line-height: 3em;
                    overflow: hidden;
                }

                hr {
                    background-color: #fff;
                    border-top: 1px dashed rgb(204,204,204);
                    margin: 20px 0 20px 0;
                }

                .user-post-board {
                    margin-right: 16px;
                    color: rgb(53,167,255);
                }

                .user-post-date {
                    margin-right: 16px;
                    color: rgb(160,160,160);
                }

                .user-post-approval {
                    float: right;
                    font-size: 12px;

                    span {
                        font-family: FontAwesome;
                        margin: 20px;
                    }

                    .fa-thumbs-o-up:before {
                        content: '\F087';
                    }

                    .fa-thumbs-o-down:before {
                        content: '\F088';
                    }
                }

                .user-post-content {
                    font-size: 12px;
                }
            }
        }

        .user-center-myfavorites {
            @extend .user-center-myposts;
        }

        .user-center-config {
            button {
                background-color: rgb(240,240,240);

                &:hover {
                    background-color: rgb(230,230,230);
                }

                &:active {
                    background-color: rgb(220,220,220);
                }
            }
        }

        hr {
            border-top: 1px dashed #ccc;
            margin: 30px 0;
        }

        .user-center-config-avatar {
            display: flex;
            align-items: center;

            & > img {
                width: 160px;
                height: 160px;
                border-radius: 80px;
            }

            & > div {
                display: flex;
                flex-direction: column;

                & > button {
                    width: 100px;
                    height: 30px;
                    margin-left: 30px;
                    margin-bottom: 20px;
                }

                & > div {
                    display: flex;
                    align-items: center;

                    button {
                        width: 100px;
                        height: 30px;
                        margin-left: 30px;
                        margin-right: 20px;
                    }
                }
            }
        }

        .user-center-config-signature {
            .signature-buttons {
                display: flex;
                align-items: center;
                width: 100%;
                border: 1px solid #E9E9E9;
                height: 40px;
                background-color: rgb(248,251,255);

                button {
                    cursor: pointer;
                    background-color: white;
                    margin-left: 30px;
                    height: 15px;
                }
            }

            #signature {
                margin: 0px;
                padding: 20px;
                width: 787px;
                height: 252px;
                border: 1px solid rgb(233, 233, 233);
                resize: vertical;
            }

            div {
                display: flex;
            }

            p {
                flex-grow: 1;
                font-size: 12px;
            }

            #signatureUpload {
                width: 100px;
                height: 25px;
                margin-top: -5px;
                margin-right: -2px;
            }
        }

        .user-center-config-password {
            & > p {
                font-size: 12px;
                margin: 30px 0;
            }

            .password-inputs {
                display: flex;
                align-items: center;

                p {
                    font-size: 12px;
                }
            }

            input {
                width: 160px;
                height: 30px;
                margin: 0 20px;
                border: 1px solid #E9E9E9;
            }

            button {
                width: 100px;
                height: 25px;
            }
        }
    }
}
