@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.user-center {
    button, ul, li {
        border: 0;
        margin: 0;
        padding: 0;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: 微软雅黑;
    width: 100%;
    min-width: 1140px;

    a {
        color: black;

        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }
    }
}

.user-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
}

.user-center-head {
    height: 4.5rem;
    display: flex;
    align-self: flex-start;
    align-items: center;
}

@keyframes fixnavigation {
    from {
        position: sticky;
        top: 0px;
    }
    to {
        position: sticky;
        top: 100px;
    }
}

@keyframes unfixnavigation {
    from {
        position: sticky;
        top: 100px;
    }

    to {
        position: sticky;
        top: 0px;
    }
}

.user-center-body {
    width: 100%;
    display: flex;
    margin-bottom: 3rem;

    *:focus {
        outline: none;
    }

    .user-center-navigation-fixed {
        animation-name: fixnavigation;
        animation-duration: 500ms;
        animation-fill-mode: both;
    }

    .user-center-navigation-unfixed {
        animation-name: unfixnavigation;
        animation-duration: 500ms;
        animation-fill-mode: both;
    }

    .user-center-navigation {
        height: 33rem;
        padding: 1rem;
        background-color: white;
        border: 1px solid rgb(204,204,204);

        button {
            width: 5rem;
            position: fixed;
            bottom: 5%;
            right: 13%;
            height: 3rem;
            border-radius: 1rem;
            opacity: 0.5;
            display: none;
            z-index: 2;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 1;
            }

            &:focus {
                outline: none;
            }
        }

        .btn-show {
            animation-name: fadeIn;
            animation-duration: 1s;
            display: inherit;
        }

        .btn-disappare {
            display: inherit;
            animation-name: fadeOut;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
        }

        ul {
            list-style-type: none;
            padding: 0;

            hr {
                background-color: #fff;
                border-top: 1px dashed rgb(204,204,204);
                width: 11rem;
            }
        }

        .user-center-navigation-active {
            * {
                color: red;
            }
        }

        li {
            height: 3.5rem;
            display: flex;
            align-items: center;
            font-family: FontAwesome;

            a {
                display: inline-flex;
                align-items: center;
                padding-left: 0.65rem;

                p {
                    margin-left: 0.65rem;
                }
            }
        }
    }

    .user-center-router {
        width: 72.5%;
        margin-left: auto;
        padding: 2rem;
        background-color: white;
        border: 1px solid rgb(204,204,204);
        min-height: 40rem;

        .user-center-exact {
            display: flex;
            flex-wrap: wrap;

            .user-avatar {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .user-avatar-img {
                    width: 160px;
                    height: 160px;
                    border-radius: 80px;
                }
            }

            .user-profile {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                padding: 0 2rem;
                max-width: 550px;

                & > * {
                    margin-bottom: 1rem;
                }

                #userId {
                    font-size: 18px;
                    margin-top: 0.5rem;
                    display: flex;
                    align-items: center;
                    width: 100%;

                    & > p {
                        flex-grow: 1;
                        white-space: pre;
                    }
                }

                button {
                    transition-duration: .4s;
                    background-color: #68b3ff;
                    color: #fff;
                    width: 5rem;
                    height: 2rem;
                    margin: 0;
                    border-radius: 3px;
                    margin-left: 2rem;

                    &:hover {
                        background-color: rgb(41,174,223);
                    }

                    &:active {
                        background-color: rgb(38,154,196);
                    }
                }

                #unfollow {
                    background-color: rgb(230,230,230);
                    color: rgb(160,160,160);

                    &:hover {
                        background-color: rgb(210,210,210);
                    }

                    &:active {
                        background-color: rgb(200,200,200);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                #userIntroducion {
                    margin-left: 2rem;
                    font-size: 12px;
                }

                #userGenderAndBirthday {
                    display: flex;
                    flex-wrap: wrap;

                    p {
                        flex-grow: 1;
                        width: 50%;

                        &:after {
                            font-family: FontAwesome;
                        }
                    }

                    div {
                        width: 100%;
                        display: flex;
                    }
                }

                .user-description {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 580px;
                    overflow-x: hidden;

                    & > p {
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    article {
                        width: 100%;
                        padding: 1rem;
                        font-size: 12px;
                        text-indent: 2em;
                        white-space: pre;
                    }
                }
            }

            .user-activities {
                width: 100%;

                & > p {
                    font-size: 18px;
                    margin-bottom: 2rem;
                }
            }
        }

        .user-activities-active {
            color: rgb(160,160,160);
        }

        .user-posts {
            margin-top: 1rem;

            div {
                margin: 0 0 2rem 0;
            }

            hr {
                background-color: #fff;
                border-top: 1px dashed rgb(204,204,204);
            }

            .user-post-info a {
                margin-right: 2rem;
            }

            .user-post-board {
                color: rgb(53,167,255);
            }

            .user-post-date {
                color: rgb(160,160,160);
            }

            .user-post-content {
                font-size: 14px;
                display: flex;

                p {
                    flex-grow: 1;
                    margin: 0;
                }

                .fa-thumbs-o-up {
                    flex-grow: 0;
                    font-family: FontAwesome;
                    margin: 0 0.5rem;
                }

                .fa-thumbs-o-down {
                    flex-grow: 0;
                    font-family: FontAwesome;
                    margin: 0 0.5rem;
                }
            }
        }

        .user-center-myfans, .user-center-myfollowings {
            hr {
                margin-bottom: 30px;
                background-color: #fff;
                border-top: 1px dashed rgb(204,204,204);
            }

            .user-center-myfollowings-exact {
                flex-grow: 1;
                min-height: 40rem;
            }

            .user-center-myfollowings-user {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                p {
                    flex-grow: 1;
                }

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    margin-right: 20px;
                }

                button {
                    transition-duration: .4s;
                    width: 70px;
                    height: 26px;
                    font-size: 12px;
                    border-radius: 3px;
                    background-color: rgb(230,230,230);
                    color: rgb(160,160,160);

                    &:hover {
                        background-color: rgb(210,210,210);
                    }

                    &:active {
                        background-color: rgb(200,200,200);
                    }
                }

                #follow {
                    background-color: #68b3ff;
                    color: #fff;

                    &:hover {
                        background-color: rgb(41,174,223);
                    }

                    &:active {
                        background-color: rgb(38,154,196);
                    }
                }

                .user-center-myfollowings-user-id {
                    margin-right: 20px;
                }

                .user-center-myfollowings-user-posts {
                    margin: 0 14px 0 12px;
                    color: rgb(53,167,255);
                }

                .user-center-myfollowings-user-fans {
                    margin: 0 14px 0 12px;
                    color: rgb(255,54,54);
                }
            }
        }

        .user-center-myfans {
            display: flex;
            flex-direction: column;

            .user-center-myfans-exact {
                flex-grow: 1;
                min-height: 40rem;
            }

            .user-center-myfollowings-user {
                button {
                    display: none;
                }
            }
        }

        .user-center-config {
            h2 {
                font-size: 12px;
                margin: 0 0 2rem 0;
            }

            button {
                background-color: rgb(240,240,240);

                &:hover {
                    background-color: rgb(230,230,230);
                }

                &:active {
                    background-color: rgb(220,220,220);
                }
            }

            label {
                background-color: #f0f0f0;

                &:hover {
                    background-color: rgb(210,210,210);
                }

                &:active {
                    background-color: rgb(200,200,200);
                }
            }
        }

        hr {
            border-top: 1px dashed #ccc;
            margin: 30px 0;
        }

        .user-center-config-avatar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;

            .user-center-config-avatar-preview {
                transition-duration: 1s;
                width: 100%;
                display: flex;
                flex-direction: row;
                opacity: 0;
                height: 0;

                hr {
                    position: relative;
                    top: -50px;
                    width: 100%;
                }
            }

            .imgdata {
                z-index: 3;
                position: absolute;
                width: 160px;
                height: 160px;
                border-radius: 80px;
                background-color: #FFFFFF;
                overflow: hidden;
            }

            #selector {
                z-index: 4;
                position: absolute;
                width: 160px;
                height: 160px;
                border-radius: 80px;
                background-color: #FFFFFF;
                overflow: hidden;
                opacity: 0;
                cursor: move;
            }

            #resize {
                z-index: 4;
                position: absolute;
                cursor: se-resize;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border-radius: 50px;
                opacity: 0.5;
            }

            #cover {
                z-index: 2;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0.7;
            }

            & > img {
                width: 160px;
                height: 160px;
                border-radius: 80px;
            }

            & > div {
                display: flex;
                flex-direction: column;

                & > button {
                    width: 100px;
                    height: 30px;
                    margin-left: 30px;
                    margin-bottom: 20px;
                }

                & > div {
                    display: flex;
                    align-items: center;

                    button {
                        width: 100px;
                        height: 30px;
                        margin-left: 30px;
                        margin-right: 20px;
                    }

                    label {
                        width: 100px;
                        height: 30px;
                        margin-left: 30px;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .user-center-config-signature {
            .signature-buttons {
                display: flex;
                align-items: center;
                width: 100%;
                border: 1px solid #E9E9E9;
                height: 40px;
                background-color: rgb(248,251,255);

                button {
                    cursor: pointer;
                    background-color: white;
                    margin-left: 30px;
                    height: 15px;
                }
            }

            .signature-extends {
                transition-duration: .5s;
                width: 100%;
                border: 1px solid #e9e9e9;

                p {
                    margin-left: 30px;
                }
            }

            #signature {
                margin: 0px;
                padding: 20px;
                width: 787px;
                height: 252px;
                border: 1px solid rgb(233, 233, 233);
                resize: vertical;
            }

            div {
                display: flex;
            }

            p {
                flex-grow: 1;
                font-size: 12px;
            }

            #signatureUpload {
                width: 100px;
                height: 25px;
                margin-top: -5px;
                margin-right: -2px;
            }
        }

        .user-center-config-password {
            & > p {
                font-size: 12px;
                margin: 30px 0;
            }

            .password-inputs {
                display: flex;
                align-items: center;

                p {
                    font-size: 12px;
                }
            }

            input {
                width: 160px;
                height: 30px;
                margin: 0 20px;
                border: 1px solid #E9E9E9;
            }

            button {
                width: 100px;
                height: 25px;
            }
        }

        .user-center-config-others {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            p {
                margin-left: 1rem;
                margin-right: 0.5rem;
            }

            p:first-child {
                width: 10rem;
                margin-left: 0;
                margin-right: 0;
            }

            .config-gender {
                display: flex;
                align-items: center;

                select {
                    width: 3rem;
                    height: 1.5rem;
                    text-align-last: center;
                }
            }

            .config-birthday {
                display: flex;
                align-items: center;

                select {
                    height: 1.5rem;
                    width: 5rem;
                    text-align-last: center;
                }
            }

            .config-submit {
                display: flex;
                margin-top: 2rem;
                align-items: center;

                button {
                    width: 100px;
                    height: 30px;
                    border-radius: 5px;
                }

                p {
                    flex-grow: 1;
                    color: red;
                    margin: 0;
                }
            }

            .config-text {
                display: flex;
                align-items: center;

                input {
                    height: 1.5rem;
                    width: 10rem;
                    padding: 0 0.5rem;
                }
            }

            .config-introduction {
                display: flex;
                align-items: center;

                input {
                    height: 1.5rem;
                    width: 30rem;
                    padding: 0 0.5rem;
                }
            }
        }

        #userCenterPageCount {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-grow: 0;

            ul {
                list-style-type: none;
                display: flex;
            }

            li {
                margin: 0.5rem;
            }

            button {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                background-color: #fff;
                border: #ccc 1px solid;

                &:hover {
                    background-color: #eee;
                }

                &:active {
                    background-color: #ccc;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.user-center-myfavorite-board {
    display: flex;
    align-items: center;

    img {
        width: 260px;
        height: 80px;
        margin: 1rem 1rem 0 0;
    }

    .user-center-myfavorite-board-info {
        flex-grow: 1;
    }

    button {
        transition-duration: .4s;
        width: 6rem;
        height: 2rem;
        border-radius: 0.5rem;

        &:hover {
            background-color: rgb(210,210,210);
        }

        &:active {
            background-color: rgb(200,200,200);
        }
    }

    .follow {
        background-color: #68b3ff;
        color: #FFFFFF;

        &:hover {
            background-color: rgb(41,174,223);
        }

        &:active {
            background-color: rgb(38,154,196);
        }
    }
}