//个人中心页面用

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(245,250,255);
}

.user-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: 微软雅黑;

    a {
        color: black;

        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }
    }    
}

.user-center-head {
    width: 1140px;
    height: 73px;
    display: flex;
    align-items: center;
}

.user-center-body {
    width: 1140px;
    min-width: 666px;
    display: flex;
    justify-content: space-between;

    .user-center-navigation {
        width: 15%;
        height: 620px;
        padding: 10px;
        background-color: white;
        border: 1px solid rgb(204,204,204);

        ul {
            list-style-type: none;
            padding: 0;

            hr {
                background-color: #fff;
                border-top: 1px dashed rgb(204,204,204);
            }
        }

        .user-center-navigation-active {
            * {
                color: red;
            }
        }

        li {
            height: 53px;
            display: flex;
            align-items: center;
            font-family: FontAwesome;

            .fa-home:before {
                font-family: FontAwesome;
                content: "\f015";
            }

            .fa-pencil-square-o:before {
                font-family: FontAwesome;
                content: "\f044";
            }

            .fa-star:before {
                font-family: FontAwesome;
                content: "\f005";
            }

            .fa-heart:before {
                font-family: FontAwesome;
                content: "\f004";
            }

            .fa-users:before {
                font-family: FontAwesome;
                content: "\f0C0";
            }

            .fa-cog:before {
                font-family: FontAwesome;
                content: "\f013";
            }

            a {
                display: inline-flex;
                align-items: center;
                padding-left: 10px;

                p {
                    margin-left: 10px;
                }
            }
        }
    }

    .user-center-router {
        width: 72.5%;
        padding: 30px;
        background-color: white;
        border: 1px solid rgb(204,204,204);

        .user-center-exact {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .user-avatar {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .user-avatar-img {
                    width: 160px;
                    height: 160px;
                    border-radius: 80px;
                }
            }

            .user-profile {
                width: 80%;

                & > * {
                    margin: 30px;
                    margin-right: 0px;
                }

                #userId {
                    font-size: 18px;
                    margin-top: 5px;
                }

                button {
                    transition-duration: 0.4s;
                    background-color: rgb(104,179,255);
                    color: white;
                    width: 80px;
                    height: 30px;
                    margin: 0;
                    float: right;
                    border-radius: 3px;

                    &:hover {
                        background-color: rgb(41,174,223);
                    }

                    &:active {
                        background-color: rgb(38,154,196);
                    }
                }

                #userGenderAndBirthday {
                    display: flex;

                    & :first-child {
                        width: 108px;

                        &:after {
                            font-family: FontAwesome;
                            content: '\F222';
                        }
                    }
                }

                .user-description {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    & :first-child {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    img {
                        width: 33.33%;
                        height: 33.33%;
                    }

                    & :last-child {
                        width: 60%;
                        padding: 10px;
                        font-size: 12px;
                        text-indent: 2em;
                    }
                }
            }

            .user-activities {
                width: 100%;

                .user-activities-active {
                    color: rgb(160,160,160);
                }

                & > p {
                    font-size: 18px;
                    margin-bottom: 30px;
                }

                .user-posts {
                    margin-top: 20px;

                    p {
                        line-height: 3em;
                        overflow: hidden;
                    }

                    hr {
                        background-color: #fff;
                        border-top: 1px dashed rgb(204,204,204);
                        margin: 20px 0 20px 0;
                    }

                    .user-post-board {
                        margin-right: 16px;
                        color: rgb(53,167,255);
                    }

                    .user-post-date {
                        margin-right: 16px;
                        color: rgb(160,160,160);
                    }

                    .user-post-approval {
                        float: right;
                        font-size: 12px;

                        span {
                            font-family: FontAwesome;
                            margin: 20px;
                        }

                        .fa-thumbs-o-up:before {
                            content: '\F087';
                        }

                        .fa-thumbs-o-down:before {
                            content: '\F088';
                        }
                    }

                    .user-post-content {
                        font-size: 12px;
                    }
                }
            }
        }

        .user-center-myfans, .user-center-myfollowings {
            hr {
                margin-bottom: 30px;
                background-color: #fff;
                border-top: 1px dashed rgb(204,204,204);
            }

            .user-center-myfollowings-user {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                p {
                    flex-grow: 1;
                }

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    margin-right: 20px;
                }

                button {
                    width: 70px;
                    height: 26px;
                    font-size: 12px;
                    border-radius: 3px;
                    background-color: rgb(230,230,230);
                    color: rgb(160,160,160);
                }

                .user-center-myfollowings-user-id {
                    margin-right: 20px;
                }

                .user-center-myfollowings-user-posts {
                    margin: 0 14px 0 12px;
                    color: rgb(53,167,255);
                }

                .user-center-myfollowings-user-fans {
                    margin: 0 14px 0 12px;
                    color: rgb(255,54,54);
                }
            }
        }

        .user-center-myposts {
            .user-activities-active {
                color: rgb(160,160,160);
            }

            .user-posts {
                margin-top: 20px;

                p {
                    line-height: 3em;
                    overflow: hidden;
                }

                hr {
                    background-color: #fff;
                    border-top: 1px dashed rgb(204,204,204);
                    margin: 20px 0 20px 0;
                }

                .user-post-board {
                    margin-right: 16px;
                    color: rgb(53,167,255);
                }

                .user-post-date {
                    margin-right: 16px;
                    color: rgb(160,160,160);
                }

                .user-post-approval {
                    float: right;
                    font-size: 12px;

                    span {
                        font-family: FontAwesome;
                        margin: 20px;
                    }

                    .fa-thumbs-o-up:before {
                        content: '\F087';
                    }

                    .fa-thumbs-o-down:before {
                        content: '\F088';
                    }
                }

                .user-post-content {
                    font-size: 12px;
                }
            }
        }

        .user-center-myfavorites {
            @extend .user-center-myposts;
        }
    }
}