<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
    <rewrite>
      <rules>
        <rule name="Index" stopProcessing="true">
          <match url="^index\.asp$" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="LispWithPage" stopProcessing="true">
          <match url="^list\.asp$" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="\bboardid=(\d+)" />
            <add input="{QUERY_STRING}" pattern="\bpage=(\d+)" />
          </conditions>
          <action type="Redirect" url="/list/{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="List" stopProcessing="true">
          <match url="^list\.asp$" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="\bboardid=(\d+)" />
          </conditions>
          <action type="Redirect" url="/list/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="DispBBSWithPage" stopProcessing="true">
          <match url="^dispbbs\.asp$" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="\bid=(\d+)" />
            <add input="{QUERY_STRING}" pattern="\bstar=(\d+)" />
          </conditions>
          <action type="Redirect" url="/topic/{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="DispBBS" stopProcessing="true">
          <match url="^dispbbs\.asp$" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="\bid=(\d+)" />
          </conditions>
          <action type="Redirect" url="/topic/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="DispUserName" stopProcessing="true">
          <match url="^dispuser\.asp$" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="\bname=(.*)" />
          </conditions>
          <action type="Redirect" url="/user/name/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="DispUserId" stopProcessing="true">
          <match url="^dispuser\.asp$" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="\bid=(\d+)" />
          </conditions>
          <action type="Redirect" url="/user/id/{C:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 3682b3c9-09f7-42fc-bfa8-23a207794472-->