// $theme_color_main: rgb(226, 191, 116);
// $theme_color_sub: rgb(55, 46, 101);
// $theme_color_topbar: rgba(226, 191, 116, 0.8);
$theme_color_main: rgb(122, 109, 153);
$theme_color_sub: rgb(226, 191, 116);
$theme_color_topbar: rgba(122, 109, 153, 0.8);
$background_image: url(/static/images/header-image/chongyang.jpg);
$background_image_card: url(/static/images/header-image-card/chongyang.jpg);
$background_color_page: #e6e7ec;
$background_color_textarea: #ffffff;
$font_color_text: #000000;

@import './_theme-variables.scss';

@include emitThemeVariables();