$theme_color_main: rgb(7, 6, 24);
$theme_color_sub: rgb(226, 191, 116);
$theme_color_topbar: rgba(7, 6, 24, 0.8);
$background_image: url(/static/images/header-image/chongyang.jpg);
$background_image_card: url(/static/images/header-image-card/chongyang.jpg);
$background_color_page: rgb(55, 64, 82);
$background_color_textarea: #bbbbbb;
$font_color_text: #000000;

@import '../Styles/Site.scss';