$theme_color_main: rgb(224, 133, 133);
$theme_color_sub: rgb(114, 192, 236);
$theme_color_topbar: rgba(205, 87, 87, 0.8);
$background_image: url(/static/images/header-image/new_year_2026.jpg);
$background_image_card: url(/static/images/header-image-card/new_year_2026.jpg);
$background_color_page: #e6e7ec;
$background_color_textarea: #ffffff;
$font_color_text: #000000;

@import '../Styles/Site.scss'; 