$theme_color_main: rgb(226, 93, 93);
$theme_color_sub: rgb(76, 142, 180);
$theme_color_topbar: rgba(205, 87, 87, 0.8);
$background_image: url(/static/images/header-image/new_year_2026_dark.jpg);
$background_image_card: url(/static/images/header-image-card/new_year_2026_dark.jpg);
$background_color_page: rgb(55, 64, 82);
$background_color_textarea: #bbbbbb;
$font_color_text: #000000;

@import '../Styles/Site.scss';