$theme_color_main: rgb(160, 34, 34);
$theme_color_sub: rgb(240, 150, 0);
$theme_color_topbar: rgba(160, 34, 34, 0.8);
$background_image: url(/static/images/header-image/spring_festival_dark.jpg);
$background_image_card: url(/static/images/header-image-card/spring_festival_dark.jpg);
$background_color_page: rgb(30, 30, 30);
$background_color_textarea: #bbbbbb;
$font_color_text: #000000;

@import './_theme-variables.scss';

@include emitThemeVariables();